* {
  margin: 0;
  padding: 0; }

.container {
  display: grid; }

header nav {
  display: flex;
  flex-direction: row;
  background: #ffffff; }
  header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px; }
    header nav ul .containerLogo {
      padding: 0%; }
      header nav ul .containerLogo .logo {
        grid-area: "logo";
        width: 100%;
        text-align: center; }
        header nav ul .containerLogo .logo img {
          width: 45%; }
    header nav ul li {
      margin: 0%;
      padding: 3%;
      justify-content: center;
      list-style: none;
      font-size: 17px; }
      header nav ul li .redBottom {
        border-bottom: 2px transparent #f53a3a;
        transition: 0.2s; }
      header nav ul li a {
        text-align: center;
        text-decoration: none;
        color: #204695; }

.redBottom:hover {
  scale: 1.1;
  opacity: 1;
  border-bottom: 2px solid #f53a3a; }

body {
  background-color: #FFFAF5; }

.banner-container {
  width: 100%; }
  .banner-container .banner {
    width: 100%;
    border-radius: 10px; }
  .banner-container p {
    border-bottom: 1px #aaaaaa solid;
    padding: 5%; }

.main .main-container .airplane-section {
  display: flex;
  padding: 5%; }
  .main .main-container .airplane-section .airplane-img img {
    width: 100%; }
  .main .main-container .airplane-section .airplane-text-container {
    margin-left: 8%; }
    .main .main-container .airplane-section .airplane-text-container .airplane-titles .title {
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      font-weight: bold;
      color: #204695; }
    .main .main-container .airplane-section .airplane-text-container .airplane-titles h1 {
      margin: 10px;
      font-size: 44px;
      line-height: 50px; }
      .main .main-container .airplane-section .airplane-text-container .airplane-titles h1 span {
        font-size: 44px;
        font-weight: 300; }
    .main .main-container .airplane-section .airplane-text-container .airplane-p-container {
      width: 85%; }
  .main .main-container .airplane-section .button {
    background-color: #204695;
    display: inline-block;
    width: 185px;
    height: 40px;
    margin-bottom: 15px;
    padding: 11px 15px;
    border-radius: 25px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-decoration: none; }

.main .main-container .drone-section {
  display: flex;
  padding: 5%; }
  .main .main-container .drone-section .drone-img img {
    width: 100%; }
  .main .main-container .drone-section .drone-text-container {
    margin-right: 8%;
    text-align: right; }
    .main .main-container .drone-section .drone-text-container .drone-titles {
      justify-content: center;
      align-content: center; }
    .main .main-container .drone-section .drone-text-container .drone-p-container {
      margin-left: 15%; }
    .main .main-container .drone-section .drone-text-container .button {
      background-color: #204695;
      display: inline-block;
      width: 185px;
      height: 40px;
      margin-bottom: 15px;
      padding: 11px 15px;
      border-radius: 25px;
      font-family: Montserrat, sans-serif;
      color: #fff;
      font-size: 13px;
      font-weight: 700;
      text-align: center;
      text-decoration: none; }

.main .main-container .articles {
  display: flex;
  width: 100%;
  margin: 5% 0 0 0; }
  .main .main-container .articles div {
    margin: 1%;
    justify-content: space-around; }
    .main .main-container .articles div img {
      width: 100%;
      justify-content: space-evenly; }
    .main .main-container .articles div a {
      text-decoration: none;
      color: black; }
      .main .main-container .articles div a h3 {
        margin: 3%;
        text-align: center;
        font-size: 18px; }

.main .main-container .reviewsMain {
  padding-top: 4%;
  display: grid;
  grid-template-columns: auto auto auto; }
  .main .main-container .reviewsMain .checked {
    color: orange; }

/* footer */
footer {
  background-color: #204695;
  color: #fff;
  text-align: center;
  border-top: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  justify-content: space-between; }
  footer h4 {
    font-size: 15px; }
  footer .footerSections {
    display: flex;
    flex-direction: row;
    align-items: center; }
    footer .footerSections .nav {
      display: flex;
      flex-direction: column;
      font-size: 17px; }
      footer .footerSections .nav a {
        text-decoration: none;
        color: #fff;
        transition: 0.3s; }
    footer .footerSections .social {
      display: flex;
      flex-direction: row; }
      footer .footerSections .social a {
        flex-wrap: wrap; }
      footer .footerSections .social .imgSocial {
        width: 23%;
        transition: 0.3s; }
      footer .footerSections .social .facebook {
        width: 10%; }
      footer .footerSections .social .ig {
        width: 40%; }
    footer .footerSections .contact {
      font-size: 17px;
      color: #fff;
      text-decoration: none; }

.imgSocial:hover {
  transform: scale(1.1); }

.navFooter:hover {
  transform: scale(1.1); }
