/* Contact us */

header{
    .contact-us-banner-container{
        padding-bottom: 4%;
        color: #ffff;
        text-align: center;
        .contact-us-title{
            font-size: 60px;
        }
        .contact-us-banner-p{
            font-size: 18px;
        }
    }
}

.contact-us-main-container{
    .main-sections{
        display: grid;
        grid-template-columns: 50% auto;
        .form-container{
            padding: 2%;
            margin-left: 2%;
            margin-right: auto;
            .contact-form-container{
                h2{
                    margin: 2%;
                    color: #204695;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 30px;
                    font-weight: bold;
                }
                p{
                    font: 30px;
                    margin: 2%;
                    font-family: 'Nunito Sans', sans-serif;
                }
                form{
                    label{
                        display: none;
                    }
                    .form-control{
                        background-color: #FFFAF5;
                        border: 0;
                        border-bottom: 3px solid #204695;
                        margin: 1%;
                    }
                    .btn{
                            background-color: #ffff;
                            color: #204695;
                            border: 1px solid #204695;
                        }
                        .btn:hover{
                        color: #ffff;;
                        background-color: #204695;
                        border: 1px solid ;
                    }
                } 
            }
        }
        .social-container{
            padding: 2%;
            margin-left: 20%;
            .contact-social-container{
                h2{
                    margin: 2% 0%;
                    color: #204695;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 30px;
                    font-weight: bold;
                }
                p{
                    font: 30px;
                    margin: 2% 0%;
                    font-family: 'Nunito Sans', sans-serif;           
                }
                .social-media-container{
                    h3{
                        padding-top: 5%;
                        font-family: 'Montserrat', sans-serif;
                        color: #204695;
                    }
                    .social-icon-container{
                        display: flex;
                        padding: 1%;
                        img{
                            background-color: #204695;
                            border-radius: 30%;
                            width: 10%;
                        }
                        p{
                            margin: 0 0 0 2%;
                            align-self: center;
                        }
                    }
                }
            }
        }
        
    }
    
    
    
}