/* footer */

footer{
    background-color: #204695;
    color: #fff;
    text-align: center;
    border-top: 1px solid black;
    padding: 10px;
    margin-top: 20px;
    h4{
        font-size: 15px;
    }
    .footerSections{
        display: grid;
        align-items: center; 
        grid-template-columns: 50% 50%;
        .nav{
            display: flex;
            flex-direction: row;
            width: 100%;
            font-size: 17px;
            justify-self: center;
            justify-content: center;
            a{
                padding: 3%;
                text-decoration: none;
                color: #fff;
                transition: 0.3s;
            }
        }
        .social{
            display: flex;
            justify-self: center;
            width: 100%;
            a{
                flex-wrap: wrap;
            }
            .img-social{
                width: 15%;
                transition: 0.3s;
           }       
        }
    }
}

.img-social:hover{
    transform: scale(1.1);
}

.navFooter:hover{
    transform: scale(1.1);
}




  