*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
}

header{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    nav{
        display: flex;
        flex-direction: row;
        padding-top: 4%;
        ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px; 
        .containerLogo{
            padding: 0%;
            .logo{
                grid-area: "logo";
                width: 100%;
                text-align: center;
                img{
                    width: 45%;
                }
            }
        }
        .nav-items{
                margin: 0%;
                padding: 2%;
                justify-content: center;
                list-style: none;
                font-size: 17px;
                transition: 0.2s;
                color: #ffff;
                a{
                    text-align: center;
                    text-decoration: none;
                    color:#ffff;
                }
            }
        } 
    }
}

.nav-items:hover{
    transform: scale(1.1);
}