*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
}

header{
    nav{
        display: flex;
        flex-direction: row;
        background-color: #204695;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px; 
        .containerLogo{
            padding: 0%;
            .logo{
                grid-area: "logo";
                width: 100%;
                text-align: center;
                img{
                    width: 45%;
                }
            }
        }
        li{
                margin: 0%;
                padding: 3%;
                justify-content: center;
                list-style: none;
                font-size: 17px;
                .nav-items{
                    transition: 0.2s;
                    color: #ffff;
                }
                a{
                    text-align: center;
                    text-decoration: none;
                    color:#ffff;
                }
            }
        } 
    }
}

.nav-items:hover{
    transform: scale(1.1);
}