body{
    background-color: #FFFAF5;
    margin: 0;
    padding: 0;
}

.banner-container{
    width: 100%;
    .banner{
        width: 100%;
        border-radius: 10px;
        margin-top: 2px;
    }
    p{
        border-bottom: 1px rgb(170, 170, 170) solid;
        padding: 5%;
    }
}
.main{
    .main-container{
        .airplane-section{
            display: flex;
            padding: 5%;
            .airplane-img{
                img{
                    width: 100%;
                }
            }
            .airplane-text-container{
                margin-left: 8%;
                .airplane-titles{
                    .title{
                        font-family: 'Montserrat', sans-serif;
                        font-size: 13px;
                        font-weight: bold;
                        color: #204695;
                    }
                    h1{
                        margin: 10px;
                        font-size: 44px;
                        line-height: 50px;
                        span{
                            font-size: 44px;
                            font-weight: 300;
                        }
                    }
                }
                .airplane-p-container{
                    width: 85%;
                }
            }
                .button{
                    background-color: #204695;
                    display: inline-block;
                    width: 185px;
                    height: 40px;
                    margin-bottom: 15px;
                    padding: 11px 15px;
                    border-radius: 25px;
                    font-family: Montserrat, sans-serif;
                    color: #fff;
                    font-size: 13px;
                    font-weight: 700;
                    text-align: center;
                    text-decoration: none;
                }
        }
        .drone-section{
            display: flex;
            padding: 5%;
                .drone-img{
                    img{
                        width: 100%;
                    }
                }
                .drone-text-container{
                    margin-right: 8%;
                    text-align: right;
                    .drone-titles{
                        justify-content: center;
                        align-content: center;
                    }
                    .drone-p-container{
                        margin-left: 15%;
                    }
                    .button{
                        background-color: #204695;
                        display: inline-block;
                        width: 185px;
                        height: 40px;
                        margin-bottom: 15px;
                        padding: 11px 15px;
                        border-radius: 25px;
                        font-family: Montserrat, sans-serif;
                        color: #fff;
                        font-size: 13px;
                        font-weight: 700;
                        text-align: center;
                        text-decoration: none;
                    }
                }

            }

            .articles{
                display: flex;
                width: 100%;
                margin: 5% 0 0 0;
                div{
                    margin: 1%;
                    justify-content: space-around;
                    img{
                        width: 100%;
                        justify-content: space-evenly;
                    }
                    p{
                        text-align: center;
                    }
                }

            }
            .reviews-container{
                padding-top: 4%;
                display: grid;
                grid-template-columns: auto auto auto;
                .review{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }
                .checked{
                    color: orange;
                }

            }
    }
    img{
        @extend %borde;
    }
}


